.searching-section-content {
  padding: 0;
  background: rgba(255, 255, 255, 0.8);

  @include _1200 {
    height: 50%;
  }  

  &__search-container {
    padding: 128px 0 50px;
    position: relative;
    width: 100%;
    margin: 0 auto; /* Ensure section is centered within the page */
  
    .searchInputContainer {
      position: relative;
      margin: 0 auto; /* Centers the input within the section */
      width: 83%;
      height: 66px;
      border: 1px solid var(--accent);
      border-radius: 32px;

      @include _768 {
        width: 680px;
      }    
    }

    #searchInput {
      margin: 0 auto; /* Centers the input within the section */
      width: 85%;
      height: 62px;
      padding: 10px 40px 10px 50px; /* Space for the close button */
      border-radius: 32px;
    }

    #searchInput::placeholder {
      color: var(--tertiary);
      opacity: 0.5;
    }

    #clearButton {
      width: 48px;
      height: 48px;
      position: absolute;
      top: 31px;
      right: 10px;
      transform: translateY(-50%);
      border: 1px solid var(--accent);
      border-radius: 24px;
      background-color: var(--primary);
      font-size: 42px;
      font-weight: 10;
      cursor: pointer;
      color: var(--accent);
      display: none;
    }

    #clearButton:hover {
      color: var(--black);
    }

    #clearButton:active {
      transform: translateY(-50%) scale(0.85); /* Decrease size */
    }

    .search-icon {
      position: absolute;
      top: 30px; 
      margin-left: 15px;
      transform: translateY(-50%);
    }

    label{
      position: absolute;
      top: 16px; 
      right: 65px;
      color: var(--tertiary);
      opacity: 0.5;
      display: none;
    }

    h3 {
      padding-top: 80px;
      text-align: center;
    }
  }
}
