.searching-section-footer {
  display: flex;
  align-items: center;
  position: relative;
  z-index: 2;

  padding: 0;
  border-top: 1px solid rgba($color: #343328, $alpha: 0.5);

  @include _1200 {
    flex: 1 1 auto;
  } 

  &__content {
    padding: clamp(16px, 30px, 40px) clamp(30px, 15%, 300px);

    @include _768 {
      width: 680px;
      padding-left: 0;
      padding-right: 0;
      padding-top: clamp(56px, 5%, 40px);
      padding-bottom: clamp(56px, 5%, 40px);
      margin-left: auto;
      margin-right: auto;
    }

    /*30px: Minimum padding, ensuring the left and right padding will not be smaller than 30px.
      15%: Preferred padding, which is 35% of the viewport width.
      300px: Maximum padding, so the left and right padding will not exceed 265px.*/
  }
}
