.cookbook-main-content {
  //   align-items: flex-end;

  display: grid;
  // grid-template-columns: repeat(3, 1fr); // Ensures 3 equal-width columns
  grid-template-columns: repeat(auto-fit, minmax(336px, 1fr));
  // grid-template: repeat(4, 1fr) / 50px 100px;
  gap: 20px;
  padding: 20px;

  &__thumbnail {
    // background-color: #f9f9f9;
    // border-radius: 10px;
    // box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    transition: transform 0.3s ease;

    &:hover {
      transform: scale(1.03);
    }

    &:active {
      transform: scale(0.97); /* Shrinks slightly on click */
      transition: transform 0.1s ease; /* Faster transition for click feedback */
      // background: linear-gradient(
      //   0deg,
      //   rgba(54, 81, 45, 0.8) 0%,
      //   rgba(0, 0, 0, 0) 10%
      // );

      
    }

    img {
      width: 100%;
      height: auto;
      border-radius: 10px;
    }

    .thumbnail-content {
      padding: 15px 0;
      text-align: left;

      h3 {
        margin: 12px 0;
      }

      p {
        font-size: 1rem;
      }

      .comment {
        display: flex;
        align-items: flex-end;
        gap: 4px;
      }

      // span {
      //   height: 16px;
      // }

      .comment svg {
        flex-shrink: 0; /* Ensures the SVG won't shrink */
      }
    }
  }
}
