.cookbook-main-footer {
  &__content {
    padding: 56px clamp(30px, 20%, 247px);
  }

  &__tags {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 4px;

    li {
      display: inline-flex;
      align-items: center;
      gap: 4px;

      padding: 7px 8px;

      background: var(--white);
      border: 1px solid var(--accent);
      border-radius: 16px;

      font-weight: 400;
      font-size: 0.875rem;
      line-height: 100%;

      svg {
        width: 16px;
        height: 16px;
        flex: 0 0 16px;
      }
    }

    button {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

    //   display: inline-flex;
      align-items: center;
      gap: 4px;

      padding: 7px 8px;

      background: var(--white);
      border: 1px solid var(--accent);
      border-radius: 16px;

      font-weight: 400;
      font-size: 0.875rem;
      line-height: 100%;



     // color: var(--accent);
      background: var(--white);
      border-radius: 18px;
      border: 1px solid var(--accent);

      @media (hover: hover) {
        transition: color 0.2s, background 0.2s;

        &:hover {
          background: var(--accent);
          color: var(--white);
        }

        &:active {
          background: var(--accent-active);
          color: var(--white);
        }
      }

      // svg {
      //     margin-top: 4px;
      //     width: 32px; height: 32px;
      // }

      svg {
        width: 16px;
        height: 16px;
        flex: 0 0 16px;
        // margin-top: 4px;
      }
    }
  }
}
