.button {
	cursor: pointer;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	
	padding: 7px 15px;

	background: var(--accent);
	color: var(--white);

	border-radius: 15px;

	transition: background .3s;
}
