.recipe-author {

	display: inline-grid;
	grid-template-columns: 48px auto;
	gap: 0 8px;

	// .recipe-author__avatar

	&__avatar {
		img {
			width: 48px; height: 48px;
			border-radius: 50%;
		}
	}

	// .recipe-author__info

	&__info {
		display: flex;
		flex-direction: column;
		justify-content: center;
		gap: 4px 0;

		text-align: start;

		span {
			font-size: 0.75rem;
			line-height: 100%;
			color: rgba(52, 51, 40, 0.5);
		}

		b {
			font-weight: 400;
			font-size: 1.25rem;
			line-height: 100%;
			color: var(--tertiary);
		}
	}
}
