.uber-uns-info {
  display: flex;
  flex-direction: column;

  &__content {
    padding: 40px 0 36px;
    text-align: left;
  }

  &__text {

    margin: 96px 0 32px;

    padding-top: 32px;

    font-size: 1rem;
    line-height: 30px;

    @include _550 {
      font-size: 1.25rem;
    }

    p:not(:first-child) {
      padding-top: 16px;
    }
  }
}
