@use "sass:math";

.uu {

  position: relative;
	z-index: 2;
  
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 80px;
  background: var(--primary);

  &__gallery {
  }

  &__gallery-track {
    &.splide__track {
      overflow: visible;
    }
  }


  &__gallery-list {
  }

  &__gallery-slide {
    display: flex;
    flex-direction: row;
    align-items: center;

    img {
      object-fit: cover;
    }
  }

  .splide__arrows {
	display: none;
  }
}
